// $black: #1E222D;
// $navy: #272D3E;
// $gray: #E1E7EF;
// $light-navy: #446F88;
// $light-gray: #F4F7FC;
// $white: #ffffff;
// $medium-blue: #87a8bf;

// $teal: #008181;
// $light-teal: #1AC8BD;
// $light-green: #c5f595;
// $aqua: #37f6de;
// $red: #D6384B;
// $light-red: #FCE6E8;
// $orange: #FC883A;

// $white--transparent: rgba($white, 0.7);

$darkest-green: #384d2c;
$dark-green: #587847;
$medium-green: #6A9055;
$light-green: #A4CD71;

// -----------------------------------------------------------------------------
// !-- Brand Colors
// -----------------------------------------------------------------------------

// Replace/modify/add colors here to match up with your app's colors

// $brand--primary: $dark-green;
// $brand--secondary: $light-green;

$primary: $dark-green;

$text: $darkest-green;

$link: $dark-green;
$link-hover: $medium-green;

$navbar-item-color: $dark-green;
$navbar-item-hover-color: $medium-green;
// $navbar-box-shadow-color: $dark-green;

